
  h1{
    color:#66BFBF;
  }
  h2{
    color:#66BFBF;
  }
  hr{border-color:#c9753d;
    border-width:50px;
    border-style:dotted none none none ;
  width: 5px;}
body{
  background-color: grey;
}
